[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=g213-led
Comment=podświetlenie klawiatury
Exec=g213-led -a 7777ff
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

